body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: justify;
    
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 1em;
    gap: 20px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header img {
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}
.center {
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
   

}
h2 {
    color: rgb(255, 255, 255);
}

footer img {
    width: 30px;
    height: 30px;
}
footer {
     display: flex;
     justify-content: center;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}
footer a p:hover{
    color:lightblue;
}

.conteiner {
    padding: 0 50px;
}
nav a:hover {
    color: lightblue;
}
ol{
    list-style: none;
}
section ul {
    
    list-style: disc;
}
.contato-super {
            display: flex;
            gap: 20px;
            text-align: center;
}

h3{
    margin: 60px;
    text-align: center;
}
.projeto {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    
}
.card {
    background-color: black;
    border-radius: 16px;
    box-shadow: 0 4px 12px white;
    width: 280px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    margin-bottom: 12px;
}
.card h3 {
    margin: 8px 0;
    font-size: 1.2rem;
}
.card p {
    color: white;
    font-size: 0.95rem;
}

